<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card card-signin my-5">
                <div class="card-body">

                    <app-form-fruta-favorita (onItemAdded)="agregado($event)"></app-form-fruta-favorita>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <app-fruta-favorita *ngFor="let x of all; let i=index" 
        [fruta]="x"
        [position]="i+1"
        (clicked)="elegido($event)"
        ></app-fruta-favorita>
    </div>
    
    <div class="row">
        <h5>Actividad</h5>
        <ul>
            <li *ngFor="let u of updates;">{{u}}</li>
        </ul>
    </div>
</div>